{% extends "@App/adminLayout.html.twig" %}

{% block title %}
    {{ parent() }} - Conversion genérale
{% endblock %}

{% block StockHG3body %}
    <div class="conteneur">
        <h1>Conversion genérale</h1>
        
    </div>
{% endblock %}